@import '../../assets/styles/user/helpers/variable';

$menu_ten_KhoangCach:60px;


.container{
    position: relative;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}

#myNavbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: $color_white;
    padding: 15px 0 12px 0
}

#myNavbar2{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: $color_white;
    padding: 15px 0 12px 0
}

.changeColor{
    background: $bg_color_footer !important;
}








