@import '../../assets/styles/user/helpers/variable';

#content_naviga{
    background:$color_silver;
    padding: 30px 0;;
}

.tabNavigator{
    background:white !important;
    padding: 40px 50px !important;
}