@import '../../../assets/styles/user/helpers/variable';

#divsuccess {
    .sucesscircle {
       
    }
    svg {
        color: $color_main;
        font-size: 75px !important;
        margin-top: 27px;
    }
}

h4 {
    color: white;
}
