@import '../../../assets/styles/user/helpers/variable';

.img_passenger{
    background: url('../../../assets/images/user/img_signup_passenger.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 150px;
}
.img_driver{
    background: url('../../../assets/images/user/img_signup_driver.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 150px;
}

.who_title{
    color:white;
    font-weight: 500;
    font-size: 18px;
}

.linkClick:hover{
    cursor: pointer;
}

.who{
    // margin-top:100px;
}
