//button
.myButton{
    background: $bg_color_footer;
    color: white;
    padding: 7px 40px;
    border: 1px solid $color_main;
}


// Input
.myInput {
    border: none;
    width: 100%;
    height: 40px;
    background:transparent;
    border-radius: 0;
    border-bottom: 1px solid $color_font_second2;
}


// animation hover line
.lineHover{
    input {
        border: none;
        width: 100%;
        height: 40px;
        background: transparent;
        border-radius: 0;
        border-bottom: 1px solid $color_font_second2;
        color:white;
    }
    
    .group {
        position: relative;
        margin-bottom: 40px;
    }
    .label {
        color: white;
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 5px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        transition: all 0.4s;
    }
    input:focus ~ .label,
    input:valid ~ .label,
    select:focus ~ .label,
    select:valid ~ .label,
    textarea:focus ~.label,
    textarea:valid ~.label {
        top: -15px;
        font-size: 12px;
        transition: all 0.4s;
    }
    input:focus,
    textarea:focus {
        outline: none;
    }
    .bar {
        position: relative;
        display: block;
        width: 100%;
    }
    .bar:after,
    .bar:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: -1px;
        position: absolute;
        background: $color_main;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        transition: all 0.4s;
    }
    input:focus ~ .bar:after,
    input:focus ~ .bar:before {
        // width:50%;
        width: 100%;
    }
    input:valid ~ .label {
        color: $color_main;
    }
    input:focus ~ .label {
        color: $color_main;
    }
    
}